    header
      nav
      div(class="logo")
        img(src="images/yadda-normal.png")
      div(class="profilepic")
        img(src="images/profile.jpg")
      div(class="navmiddle")
        ul
          li
            a(href="#") Settings
          li
            a(href="#") Logout

    main(class="mainpage")
      section(class="profilementions")
        div(class="profilebox")
          div(class="pPicture")
            img(src="images/placeholder.jpg")
          div(class="profileName")
            h2 Bailey Johnson
            h3 @baileydrinks
          div(class="followingfollowers")
            div(class="following")
              h4 Following
              h5 732
            div(class="followers")
              h4 Followers
              h5 121
